<div class="column-layout left">
  <div class="column-layout form">
    <div class="column-layout group">
      <h3 class="h3">
        Reset password
      </h3>
      <p class="igx-typography__body-2 text">
        Please, type the email you have used for your your account registration. We are going to send you an activation link there where you can reset your password.
      </p>
    </div>
    <igx-input-group type="border" class="input">
      <input type="text" placeholder="Min 8 characters" igxInput />
      <label igxLabel>Email</label>
    </igx-input-group>
    <button igxButton="raised" igxRipple routerLink="/home/set-new-password" class="button">
      send reset link
    </button>
  </div>
</div>
<div class="column-layout right"></div>
