<div class="row-layout group">
  <div class="row-layout group_1">
    <div class="column-layout group_2">
      <h6 class="h6">
        All articles
      </h6>
      <div class="row-layout group_3">
        <div class="column-layout group_4">
          <igx-card type="outlined" *ngFor="let item of travelAppArticlesSource1" class="card">
            <igx-card-media height="240px">
              <img [src]="item.image_url" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                {{ item.title }}
              </h3>
              <h5 igxCardHeaderSubtitle>
                {{ item.subtitle }}
              </h5>
            </igx-card-header>
            <igx-card-actions class="actions-content">
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  bookmark_border
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="flat" igxRipple class="button">
                Read
              </button>
            </igx-card-actions>
          </igx-card>
        </div>
        <div class="column-layout group_4">
          <igx-card type="outlined" *ngFor="let item of travelAppArticlesSource2" class="card">
            <igx-card-media height="240px">
              <img [src]="item.image_url" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                {{ item.title }}
              </h3>
              <h5 igxCardHeaderSubtitle>
                {{ item.subtitle }}
              </h5>
            </igx-card-header>
            <igx-card-actions class="actions-content">
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  bookmark_border
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="flat" igxRipple class="button">
                Read
              </button>
            </igx-card-actions>
          </igx-card>
        </div>
        <div class="column-layout group_4">
          <igx-card type="outlined" *ngFor="let item of travelAppArticlesSource3" class="card">
            <igx-card-media height="240px">
              <img [src]="item.image_url" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                {{ item.title }}
              </h3>
              <h5 igxCardHeaderSubtitle>
                {{ item.subtitle }}
              </h5>
            </igx-card-header>
            <igx-card-actions class="actions-content">
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  bookmark_border
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="flat" igxRipple class="button">
                Read
              </button>
            </igx-card-actions>
          </igx-card>
        </div>
        <div class="column-layout group_5">
          <igx-card type="outlined" *ngFor="let item of travelAppArticlesSource4" class="card">
            <igx-card-media height="240px">
              <img [src]="item.image_url" class="image" />
            </igx-card-media>
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                {{ item.title }}
              </h3>
              <h5 igxCardHeaderSubtitle>
                {{ item.subtitle }}
              </h5>
            </igx-card-header>
            <igx-card-actions class="actions-content">
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  bookmark_border
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
              <button igxButton="flat" igxRipple class="button">
                Read
              </button>
            </igx-card-actions>
          </igx-card>
        </div>
      </div>
    </div>
  </div>
  <div class="column-layout group_6">
    <div class="column-layout group_7">
      <h6 class="h6">
        Recommended
      </h6>
      <div class="column-layout group_8">
        <igx-card type="outlined" *ngFor="let item of travelAppSelectedArticles" class="card">
          <igx-card-media height="160px">
            <img [src]="item.image_url" class="image" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>
              {{ item.title }}
            </h3>
            <h5 igxCardHeaderSubtitle>
              {{ item.subtitle }}
            </h5>
          </igx-card-header>
          <igx-card-actions class="actions-content">
            <button igxButton="icon" igxRipple>
              <igx-icon>
                bookmark_border
              </igx-icon>
            </button>
            <button igxButton="icon" igxRipple>
              <igx-icon>
                share
              </igx-icon>
            </button>
            <button igxButton="flat" igxRipple class="button">
              Read
            </button>
          </igx-card-actions>
        </igx-card>
      </div>
    </div>
  </div>
</div>
