:host {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.left {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 50%;
  height: 100%;
  min-width: 50%;
  min-height: 100%;
  max-height: 100%;
}
.form {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 60px;
  min-width: 50px;
  min-height: 50px;
  max-width: 500px;
  flex-shrink: 0;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin: 0 0 32px;
  min-width: 50px;
  min-height: min-content;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 0 0 32px;
  min-width: 50px;
  min-height: 50px;
}
.row-layout {
  display: flex;
}
.group_2 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 32px;
  min-width: 50px;
  min-height: min-content;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  min-width: min-content;
  min-height: 50px;
}
.right {
  background-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 50%;
  min-width: 50%;
  min-height: 100%;
  max-height: 100%;
}
.h3 {
  color: hsla(var(--igx-grays-900));
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
}
.text {
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
}
.hyperlink {
  color: hsla(var(--igx-secondary-900));
  cursor: pointer;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.input {
  margin: 0 0 24px;
  height: max-content;
  min-width: min-content;
}
.checkbox {
  margin: 0 2px 0 0;
  width: max-content;
  height: max-content;
}
.button {
  background-color: hsla(var(--igx-secondary-500));
  height: max-content;
  min-width: min-content;
}
.button_1 {
  color: hsla(var(--igx-grays-900));
  margin: 32px 0 0;
  height: max-content;
  min-width: min-content;
}
