@page "/resetpassword"
@inject NavigationManager NavigationManager

<div class="row-layout reset-password-container">
    <div class="column-layout left">
        <div class="column-layout form">
            <div class="column-layout group">
                <h3 class="h3">
                    Reset password
                </h3>
                <p class="typography__body-2 text">
                    Please, type the email you have used for your your account registration. We are going to send you an activation link there where you can reset your password.
                </p>
            </div>
            <IgbInput Label="Email" Placeholder="Min 8 characters" Outlined="true" class="input" resetpassword-scope></IgbInput>
            <IgbButton @onclick="@(e => Navigate("setnewpassword"))" class="button" resetpassword-scope>
                send reset link
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
    <div class="column-layout right"></div>
</div>

@code {
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
