@page "/setnewpassword"
@inject NavigationManager NavigationManager

<div class="row-layout set-new-password-container">
    <div class="column-layout left">
        <div class="column-layout form">
            <div class="column-layout group">
                <h3 class="h3">
                    Set new password
                </h3>
                <p class="typography__body-2 text">
                    Please, type your new password and click confirm. 
                </p>
            </div>
            <IgbInput Label="Password" Placeholder="Min 8 characters" Outlined="true" class="input" setnewpassword-scope></IgbInput>
            <IgbInput Label="Password" Placeholder="Repeat password" Outlined="true" class="input" setnewpassword-scope></IgbInput>
            <IgbButton @onclick="@(e => Navigate(""))" class="button" setnewpassword-scope>
                confirm new password
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
    <div class="column-layout right"></div>
</div>

@code {
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
