@page "/signup"
@inject NavigationManager NavigationManager

<div class="row-layout sign-up-container">
    <div class="column-layout left">
        <div class="column-layout form">
            <div class="column-layout group">
                <div class="column-layout group_1">
                    <h3 class="h3">
                        Sign up
                    </h3>
                    <p class="typography__body-2 text">
                        Don't have an account? Sign up now for free and enjoy thousands of great travel opportunities
                    </p>
                </div>
                <IgbInput Label="Email" Placeholder="myname@website.com" Outlined="true" class="input" signup-scope></IgbInput>
                <IgbInput Label="Password" Placeholder="Min 8 characters" Outlined="true" class="input" signup-scope></IgbInput>
                <IgbInput Label="Repeat Password" Placeholder="Min 8 characters" Outlined="true" class="input" signup-scope></IgbInput>
                <div class="row-layout group_2">
                    <div class="row-layout group_3">
                        <IgbCheckbox LabelPosition="CheckboxBaseLabelPosition.After" Checked="true" Indeterminate="false" class="checkbox" signup-scope>
                            Remember me
                        </IgbCheckbox>
                    </div>
                </div>
                <IgbButton @onclick="@(e => Navigate("in-app"))" class="button" signup-scope>
                    sign up
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </div>
            <div class="column-layout group_4">
                <IgbButton Variant="ButtonVariant.Outlined" @onclick="@(e => Navigate(""))" class="button_1" signup-scope>
                    Already have a registration?
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </div>
        </div>
    </div>
    <div class="column-layout right"></div>
</div>

@code {
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
