<div class="column-layout left">
  <div class="column-layout form">
    <div class="column-layout group">
      <h3 class="h3">
        Set new password
      </h3>
      <p class="igx-typography__body-2 text">
        Please, type your new password and click confirm. 
      </p>
    </div>
    <igx-input-group type="border" class="input">
      <input type="text" placeholder="Min 8 characters" igxInput />
      <label igxLabel>Password</label>
    </igx-input-group>
    <igx-input-group type="border" class="input">
      <input type="text" placeholder="Repeat password" igxInput />
      <label igxLabel>Password</label>
    </igx-input-group>
    <button igxButton="raised" igxRipple routerLink="/home/login" class="button">
      confirm new password
    </button>
  </div>
</div>
<div class="column-layout right"></div>
