@inherits LayoutComponentBase

<div class="column-layout home-container">
    <div class="view-container">
        @Body
    </div>
    <div class="row-layout group">
        <div class="row-layout group_1">
            <img src="https://i.ibb.co/syrwz7h/travel-app.png" class="image" />
        </div>
    </div>
</div>

@code {
}
